.darkBg{
	background: #2D3E50;/*rgb(45,62,80)*/
}
.lightLine{
	background: #43D3B1;/*rgb(67,211,177)*/
}
.lightLine2{
	background: #3CBFA6;/*rgba(60,191,166)*/
}
.blurblue{
	background: #4B5D71/*rgba(75,93,113)*/
}
.head{
	padding: 10px 50px;
}